
.featured-bike-size img{
    width: 288px;
    height: 243px;


}
.user-pic-size img{
    width: 149px;
    height: 149px;
}
.icon-color{
    color:#E76F51;
}
.bike-gray{
   filter: grayscale(100%);
}