.header-bike-size{
    width: 552px;
    height: 447px;

}
.featured-bike-size img{
    width: 288px;
    height: 243px;


}
.user-pic-size img{
    width: 149px;
    height: 149px;
}
.icon-color{
    color:#E76F51;
}